<div class="container mt-5 mb-5">
  <div class="col-md-8 mx-auto">
    <div>
      <select class="form-select" id="category" name="categoryid">
        <option value="">請選擇類別</option>
        {{#each categories}}
          <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
      </select>
      總金額：1111 元
    </div>
    <table class="table table-striped table-borderless align-middle">
      <tbody>
        <tr>
          <td class="text-center">
            <i class="fas fa-home fa-2x"></i>
          </td>
          <td>
            <div class="d-flex flex-column">
              <span>項目名稱</span>
              <span>日期</span>
            </div>
          </td>
          <td class="text-end">
            <div class="d-flex justify-content-end">
              $111
            </div>
          </td>
          <td class="text-center">
            <div class="d-flex justify-content-center">
              <button type="button" class="btn btn-success">修改</button>
              <button type="button" class="btn btn-danger">刪除</button>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <i class="fas fa-home fa-2x"></i>
          </td>
          <td>
            <div class="d-flex flex-column">
              <span>項目名稱</span>
              <span>日期</span>
            </div>
          </td>
          <td class="text-end">
            <div class="d-flex justify-content-end">
              $1111111
            </div>
          </td>
          <td class="text-center">
            <div class="d-flex justify-content-center">
              <button type="button" class="btn btn-success">修改</button>
              <button type="button" class="btn btn-danger">刪除</button>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td class="text-end" colspan="3">
            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-success">新增支出</button>
            </div>
          </td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>