<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-6 m-auto">
      <div class="mb-3 row">
        <i class="fas fa-pen"></i><p>名稱 *</p>
      </div>
    </div>
  </div>
</div>